.hero-section:before {
  content: '';
  position: absolute;
  width: 700px;
  height: 100%;
  top: -40px;
  left: 0;
  background: url('../img/pattern-1.png');
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-section:after {
  content: '';
  width: 670px;
  height: 560px;
  background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
  opacity: 1;
  filter: blur(544.521px);
  position: absolute;
  right: 0;
  bottom: -300px;
  z-index: -1;
}

.first-col {
  min-height: 70vh;
  background: url(../img/hero-iphone.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}